<div id="owl-demo" class="owl-carousel owl-theme">

  <div class="item"><img src="/fullimage1.jpg" alt="The Last of us"></div>
  <div class="item"><img src="/fullimage2.jpg" alt="GTA V"></div>
  <div class="item"><img src="/fullimage3.jpg" alt="Mirror Edge"></div>

</div>


<div class="container" id="main-content">
  <div class="row">
    <div class="col-md-8">
      <%= render partial: 'layouts/content', locals: { posts: @recent_content }  %>

      <% if @recent_content.empty? %>
      <article class="post type-post status-publish format-standard has-post-thumbnail hentry" itemscope="">
        <div class="post-body">
          <div class="entry" itemprop="articleBody">
            <h3>Sorry, we've got nothing at the moment!</h3>
            <h3>Please try again later.</h3>
          </div><!-- /.entry -->
        </div><!-- /.post-body -->
      </article>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= render partial: 'layouts/sidebar'  %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

    $("#owl-demo").owlCarousel({

      navigation : false, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true,
      autoPlay: true,
      stopOnHover: true,
      pagination: false

    });

  });
</script>
