$('#content-list').append('<%= j render partial: 'layouts/content', locals: { posts: @results } %>');
<% if @results.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @results %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').remove();
<% end %>
