$('#content-list').append('<%= j render partial: 'layouts/content', locals: { posts: @readings } %>');
<% if @readings.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @readings %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').remove();
<% end %>
