$('#content-list').append('<%= j render partial: 'layouts/content', locals: { posts: @publications } %>');
<% if @publications.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @publications %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').remove();
<% end %>
