<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-publications"><%= link_to "Publications", casein_publications_path %></li>
<li id="tab-readings"><%= link_to "Readings", casein_readings_path %></li>