<div class="container" id="main-content">

  <div class="row">
    <h3 class="model-title"><%= class_name.pluralize %></h3>
  </div>

  <div class="row">
    <div class="col-md-8" id="content-list">
      <%%= render partial: 'layouts/content', locals: { posts: @<%= plural_name.downcase %> }  %>
    </div>
    <div class="col-md-4">
      <%%= render partial: 'layouts/sidebar'  %>
    </div>
  </div>
</div>

<div id="infinite-scrolling">
  <%%= will_paginate %>
</div>
