$('#content-list').append('<%%= j render partial: 'layouts/content', locals: { posts: @<%= plural_name.downcase %> } %>');
<%% if @<%= plural_name.downcase %>.next_page %>
  $('.pagination').replaceWith('<%%= j will_paginate @<%= plural_name.downcase %> %>');
<%% else %>
  $(window).off('scroll');
  $('.pagination').remove();
<%% end %>
