// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'select2';
@import 'select2-bootstrap';

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

.navbar {
  margin-bottom: 0;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral

section {
  @extend .row;
  margin-top: 20px;
  }

.select2-container--default {
  margin-bottom: 15px;
}

.pagination {
  display: none;
}

.back-btn {
  margin-left: 30px;
}

.pdf-viewer {
  width: 100%;
  height: 900px;
}
