/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootsy
 *= require font-awesome
 *= require owl.carousel
 *= require owl.theme
 *= require_self
 */
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.model-title {
  margin-left: 30px;
}

.model-title:after {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  margin: 15px 0 23px;
  background: #d95204;
  text-align: left;
}

.heart-color {
  color: #FFA4B4;
}
