@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic%7CRaleway:400,300,200,100,900,800,700,600,500);

html {
    overflow-y: scroll;
    position: relative;
    min-height: 100%;
}

body {
    background: #f7f7f7;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 50px; /* bottom = footer height */
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}

.footer-body {
    padding-top: 15px;
}

/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */
.header {
    position: relative;
    z-index: 100;
    background: #ffffff;
}

.header .socials {
    margin-left: 4px;
}

.header .logo-img img {
    max-width: 200px;
    height: auto;
}

.header .top-bar {
    height: 125px;
    padding: 41px 0 40px;
    background: transparent;
}

.header .top-bar h1 a {
    float: left;
    color: #222222;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
}

.header .top-bar .name h1 small {
    float: left;
    margin: 23px 0 0 25px;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
}

.header .top-bar-section li {
    background: transparent;
}

.header .top-bar-section a {
    text-transform: uppercase;
}

.header .top-bar-section > ul > li + li {
    margin-left: 22px;
}

.header .top-bar-section li:not(.has-form) a:not(.button) {
    background: transparent;
    color: #222222;
    font-size: 13px;
    padding: 0;
    line-height: 2;
    padding: 8px 0 5px;
}

.header .top-bar-section li:not(.has-form):hover > a:not(.button) {
    color: #117dbf;
}

.header .top-bar-section .has-dropdown > a {
    padding-right: 0px !important;
}

.header .top-bar-section .dropdown a:after {
    content: none !important;
}

.header .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    padding: 6px 0 7px;
    background: transparent;
    color: #222222;
}

.header .top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
    color: #117dbf;
}

.header .top-bar-section .right li .dropdown {
    left: 0;
    right: auto;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
}

.header .top-bar-section .right li .dropdown .dropdown {
    left: 100%;
}

.header .top-bar-section .right li .fa {
    display: none;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -9px;
}

.header .top-bar-section li:hover > .fa {
    color: #117dbf;
}

.header .top-bar-section .dropdown li .fa {
    display: block;
}

.header .top-bar-section > ul > li > .dropdown {
    top: 82px;
}

.header .top-bar-section > ul > .has-dropdown:hover:after {
    content: '';
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0px;
    width: 60px;
    height: 82px;
    border-bottom: 3px solid #117dbf;
}

.header .top-bar-section > ul > .has-dropdown:hover > a {
    position: relative;
    z-index: 200;
}

.header .top-bar-section .has-dropdown > a:after {
    content: none;
}

.header .top-bar-section .dropdown {
    opacity: 0;
}

.header .top-bar-section .dropdown {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
}

.header .top-bar-section .has-dropdown.hover > .dropdown, .header .top-bar-section .has-dropdown.not-click:hover > .dropdown {
    min-width: 165px;
    opacity: 1;
}

.header .top-bar-section .has-dropdown.hover > .dropdown, .header .top-bar-section .has-dropdown.not-click:hover > .dropdown {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.header .top-bar-section .dropdown {
    -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
    -o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.header .top-bar-section .dropdown li {
    padding: 0 15px;
    background: #ffffff;
}

.header .top-bar-section .dropdown li:not(.parent-link) + li > a {
    border-top: 1px solid #efefef;
}

.header .top-bar-section .dropdown .parent-link a {
    border-top: 0 !important;
    border-bottom: 1px solid #efefef;
}

@media only screen and (max-width: 979px) {
    .header {
        text-align: center;
    }

    .header .top-bar {
        height: auto;
        padding: 20px 0;
    }

    .header .top-bar .title-area {
        display: inline-block;
        float: none;
    }

    .header .top-bar .right {
        float: none !important;
    }

    .header .top-bar-section ul {
        display: inline-block;
        vertical-align: top;
    }

    .header .socials {
        text-align: center;
        margin: 0;
    }

    .header .socials ul {
        margin: 0;
        display: inline-block;
        vertical-align: top;
    }
}

@media only screen and (max-width: 641px) {
    .header {
        text-align: left;
    }

    .header .top-bar .title-area {
        display: block;
    }

    .header .top-bar.expanded .title-area {
        background: transparent;
    }

    .header .top-bar .toggle-topbar {
        z-index: 100;
    }

    .header .top-bar .toggle-topbar.menu-icon a {
        display: block;
        color: #7b7b7b;
        padding: 0 10px;
        font-size: 20px;
    }

    .header .top-bar .toggle-topbar .toggle-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0);
    }

    .header .top-bar.expanded .toggle-topbar.menu-icon a {
        color: #d95204;
    }

    .header .top-bar-section ul {
        display: none;
    }

    .header .top-bar-section > ul > li + li {
        margin-left: 0;
    }

    .header .expanded .top-bar-section ul {
        display: block;
    }

    .header .top-bar-section .has-dropdown.hover > .dropdown, .header .top-bar-section .has-dropdown.not-click:hover > .dropdown {
        width: 100%;
    }

    .header .top-bar-section .dropdown {
        opacity: 1;
        box-shadow: none;
    }

    .header .top-bar-section .dropdown {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }

    .header .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
        padding: 5px 0 6px;
    }

    .header .top-bar-section .right li .dropdown {
        left: 100%;
    }

    .header .top-bar-section .has-dropdown > a:after {
        margin-right: 0;
    }

    .header .top-bar-section .dropdown li:not(.parent-link) + li > a {
        border-top: 0;
    }

    .header .top-bar-section .dropdown li {
        padding: 0;
    }

    .header .top-bar-section > ul > .has-dropdown:hover:after {
        content: none;
    }

    .header .top-bar-section > ul > li > .dropdown {
        top: 0px;
    }

    .header .top-bar-section .right li .fa {
        display: block;
    }

    .header .socials {
        display: none;
    }

    .header .top-bar .name h1 small {
        display: none;
    }
}

/* ------------------------------------------------------------ *\
	Post
\* ------------------------------------------------------------ */
.post {
    position: relative;
    background: #ffffff;
    padding: 55px 0 41px;
    margin-bottom: 40px;
}

.post-head {
    text-align: center;
}

.post-date {
    color: #7b7b7b;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 13px;
}

.post-title {
    font-size: 25px;
    color: #222222;
    font-weight: bold;
    margin-bottom: 19px;
}

.post-title a {
    color: #222222;
}

.post-title a:hover {
    color: #117dbf;
}

.post-category {
    list-style: none outside none;
    text-align: center;
    font-size: 0;
    margin: 0 0 35px;
    padding: 0 60px;
}

.post-category li {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 300;
}

.post-category li + li:before {
    content: '/';
    margin: 0 2px 0 7px;
    color: #d95204;
}

.post-category a {
    color: #d95204;
}

.post-category a:hover {
    color: #7b7b7b;
}

.post-meta {
    position: relative;
    z-index: 100;
    margin-bottom: 20px;
}

.post-image p {
    margin: 0px;
}

.post-author {
    display: block;
    width: 70px;
    height: 70px;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin: -35px auto 0;
}

.post-author img {
    max-width: 100%;
}

.post .entry {
    margin-bottom: 37px;
    padding: 0 60px;
}

.post .entry p {
    font-size: 14.5px;
    line-height: 1.7;
    color: #7b7b7b;
}

.post .entry ul, .post .entry ol {
    color: #7b7b7b;
}

.post .entry .twitter-tweet.twitter-tweet-rendered {
    width: 100% !important;
}

.post .entry table {
    width: 100%;
}

.post input[type="password"] {
    max-width: 50%;
}

.post-actions {
    text-align: center;
}

.post-actions .button {
    padding: 12px 26px 11px;
}

.post-foot {
    overflow: hidden;
    margin: -11px 0 50px;
    padding: 0 60px;
}

.post-tags {
    float: left;
    font-size: 13.5px;
    color: #222222;
}

.post-tags .fa {
    margin-right: 10px;
    font-size: 14px;
    color: #7b7b7b;
}

.post-tags a {
    color: #d95204;
}

.post-tags a:hover {
    color: #7b7b7b;
}

.post-foot .socials {
    float: right;
}

.post-foot .socials ul {
    margin: 0;
}

.post-foot .socials li {
    padding-top: 0;
}

.post-author-box {
    background: #efefef;
    padding: 30px 60px 49px;
}

.post-author-box-image {
    float: left;
    width: 104px;
    height: 104px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin: 10px 35px 0 0;
    overflow: hidden;
}

.post-author-box-content {
    overflow: hidden;
}

.post-author-box-content h4 {
    font-size: 19px;
    margin-bottom: 15px;
}

.post-author-box-content p {
    font-size: 13.5px;
    line-height: 1.5;
}

.post-nav {
    padding: 40px 60px;
    overflow: hidden;
}

.post-nav .button {
    font-size: 14.5px;
    text-transform: none;
    padding: 7px 20px 5px 13px;
    margin-bottom: 0;
}

.post-nav .button .fa {
    position: relative;
    font-size: 19px;
    vertical-align: middle;
    top: -2px;
}

.post-nav-prev {
    float: left;
}

.post-nav-prev .fa {
    margin-right: 11px;
}

.post-nav-next {
    float: right;
}

.post-nav-next .button {
    padding: 7px 12px 5px 17px;
}

.post-nav-next .fa {
    margin-left: 8px;
}

/* Attachement */
.entry-caption {
    margin-top: 40px;
}

.entry-caption p {
    margin-bottom: 0px !important;
}

.full-attach {
    margin-top: 5px;
}

/*  Post Single  */
/*	----------------------------------------------------------
	Images
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
a img {
    border: none;
}

p img {
    margin-bottom: 0.5em;
    /* a small bottom margin prevents content floating under images */
}

a img {
    display: block;
}

/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */
.sidebar {
    /*  Widget About  */
    /*  Widget Text  */
    /*  Widget Posts  */
    /*  Widget Tag Cloud  */
}

.sidebar .widget {
    background: #ffffff;
    color: #7b7b7b;
    padding: 33px 40px 34px;
    margin-bottom: 40px;
}

.sidebar .widget-title {
    font-size: 18px;
    color: #222222;
    text-align: center;
}

.sidebar .widget-title:after {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    margin: 15px auto 23px;
    background: #d95204;
}

.sidebar .widget p {
    font-size: 13.5px;
    line-height: 1.5;
    margin: 0;
}

.sidebar .widget_about .about-image {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    overflow: hidden;
    margin: 9px auto 24px;
}

.sidebar .widget_about .about-image img {
    width: 100%;
    height: auto;
}

.sidebar .widget_text {
    padding-bottom: 38px;
}

.sidebar .widget_text .widget-title:after {
    margin-bottom: 18px;
}

.sidebar .widget_posts {
    padding-bottom: 48px;
}

.sidebar .widget_tag_cloud .widget-title:after {
    margin-bottom: 20px;
}

@media only screen and (max-width: 641px) {
    .sidebar {
        margin-top: 50px;
    }

    .sidebar .widget {
        padding: 15px;
        margin-bottom: 20px;
    }

    .sidebar .widget-title {
        font-size: 16px;
    }
}

/*  Widget Search  */
.widget_search .search-form {
    position: relative;
}

.widget_search .search-form label span {
    display: none;
}

.widget_search .search-form input {
    font-weight: initial;
    height: 50px;
    padding-right: 30px;
    background: #f7f7f7;
    border-color: #efefef;
    color: #7b7b7b;
    box-shadow: none;
    margin-bottom: 7px;
}

.widget_search .search-form input:focus {
    background: #ffffff;
}

.widget_search .search-submit {
    display: none;
}

.widget_search .search-form:after {
    content: '\f002';
    position: absolute;
    right: 15px;
    top: 15px;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    font-size: 14.5px;
    color: #7b7b7b;
}

/*  Widget list  */
.widget ul.list {
    list-style: none outside none;
    margin: 0;
    border-top: 1px dashed #7b7b7b;
    margin-right: 20px;
    margin-top: 30px;
    padding-bottom: 23px;
    padding-left: 0;
}

.widget ul.list li {
    border-bottom: 1px dashed #7b7b7b;
}

.widget ul.list a {
    display: block;
    color: #000;
    padding: 14px 18px 13px;
    font-size: 15px;
    font-weight: lighter;
}

.widget ul a:hover, .current-menu-item > a {
    color: #117dbf !important;
}

.widget ul a {
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.widget .sub-menu {
    margin: 0px;
    border-bottom: 0px;
    padding: 0px;
}

.widget .sub-menu li:last-child {
    border-bottom: 0px;
}

/* Instagram */
.photo-tiles {
    padding: 0px !important;
    margin: 0px !important;
}

.photo-tiles, .photo-tiles .photo-tile {
    border: none !important;
}

.photo-tiles .photo-tile a {
    margin: 0px !important;
    padding: 0px !important;
}

/*-----------------------------------------------------------
	RSS Widget
-----------------------------------------------------------*/
.widget_rss .rsswidget img {
    display: inline-block;
}


.container#main-content {
    margin-top: 50px;
}

.tagcloud a {
  margin: 5px;
}

.back-btn {
  margin-left: 30px;
}
