<footer>
  <div class="footer-body text-center">
    <p class="lead text-center" style="margin-right: 10px; margin-bottom: 10px; font-size: 12px;">The Online Resource Portal was made with <i class="fa fa-heart heart-color"></i> by the <a href="http://techlab.works" class="text-white btn-track" data-location="top" data-event="CodersClan_Link_Click" target="_blank">TechLab</a></p>
  </div>
</footer>