<div class="content">
    <article class="post type-post status-publish format-standard has-post-thumbnail hentry" itemscope="">
      <header class="post-head">
        <%= link_to 'Back', 'javascript:history.go(-1);', class: 'pull-left back-btn' %><br>
        <time class="post-date" datetime="<%= post.created_at %>" itemprop="datePublished"><%= post.created_at.strftime('%A, %d %b %Y') %></time><!-- /.post-date -->
        <h3 class="post-title">
          <%= post.title %>
        </h3><!-- /.post-title -->

        <ul class="post-category">
            <li><%= link_to post.class.name.pluralize, send("#{post.class.name.pluralize.downcase}_path") %></li>
        </ul>

      </header><!-- /.post-head -->

      <div class="post-meta">
      </div><!-- /.post-meta -->

      <div class="post-body">
        <div class="entry" itemprop="articleBody">
          <p>
            <% unless post.content.nil? %>
              <%= post.content.html_safe %>
            <% end %>
            <% unless file.nil? %>
              <% if file[:type] == 'pdf' %>
              <object class="pdf-viewer" data="<%= file[:src] %>" type="application/pdf">
                <embed src="<%= file[:src] %>" type="application/pdf" />
              </object>
              <% else %>
              <iframe src="<%= file[:src] %>" class="pdf-viewer" frameborder="0"></iframe>
              <% end %>
            <% end %>
          </p>
        </div><!-- /.entry -->

        <div class="entry">
          <%= post.tags %>
        </div>

      </div><!-- /.post-body -->
    </article>
</div>
