<div class="sidebar">
  <aside id="search-2" class="widget widget_search">
    <div class="widget-title"><h3 class="widgettitle">Search</h3></div>
    <%= simple_form_for @search, url: search_path, method: :get do |f| %>
      <%= f.input :query, label: false, placeholder: 'What are you looking for?' %>
      <%= f.select :categories, CMS_MODELS.map.with_index{|c, i| [c.name, i]}, {selected: @search.categories} , {class:'form-control', id: 'category-select', multiple: 'multiple'} %>
      <%= f.select :tags, Tag.all.map{|t| [t.name, t.name]}, {}, {class:'form-control', id: 'tag-select', multiple: 'multiple'} %>
      <%= f.button :submit, 'Search', class:'btn btn-defaut btn-block', id: 'search-btn' %>
    <% end %>
  </aside>
  <aside id="recent-posts" class="widget widget_recent_entries">
    <div class="widget-title"><h3 class="widgettitle">Recent Posts</h3></div>
    <ul class="list">
      <% @recent_content.each do |content| %>
        <li>
          <%= link_to content.title, content.path %>
        </li>
      <% end %>
    </ul>
  </aside>
  <aside id="tag_cloud-3" class="widget widget_tag_cloud">
    <div class="widget-title"><h3 class="widgettitle">Tag Cloud</h3></div>
    <div class="tagcloud">
      <% Tag.all.pluck(:name).each do |tag| %>
        <%= link_to tag, tag_path(tag) %>
      <% end %>
    </div>
  </aside>
</div>

<script>
$(function() {
    $('.sidebar').parent().theiaStickySidebar();

    $("#category-select").select2({
      placeholder: "Categories"
    });
    $("#tag-select").select2({
      placeholder: "Tags"
    });
});
</script>
